@font-face {
	font-family: "B612";
	src: url("fonts/B612-Regular.ttf");
}

@font-face {
  font-family: "B612";
  src: url("fonts/B612-Bold.ttf");
  font-weight: bold;
}

body {
	margin: 0;
	height: 100%;
	font-family: "B612", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3vw
}

table {
	border-spacing: 0px;
	width: 100%;
	height: 100%;
}

tr {
	width: 100%;
}

svg {
    width:100%;
    height:100%;
}

#mainDiv {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

#mainTable {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#wrapper {
	min-height: 100%; 
}

#productTable {
	border: solid black 1px
}

td.cartDescription {
	padding-left: 20px;
}

td.cartAmount {
	width: 20%;
	text-align: right;
}

.headLine {
	border-top: 1px solid black;
    text-align: center;
    font-weight: bold;
}

.headLineSoft {
	border-top: 1px solid gray
}

.result {
	font-weight: normal;
	font-size: 5vw;
	text-align: center;
	width: 50%;
}

.newItemDiv {
	width: 100%;
	height: 100%;
	display:inline-block;
}

.tokenDiv {
	width: 50px;
	height: 50px;
	display:inline-block;
}

.noPadding {
	padding: 0px;
}

.alignCenter {
	text-align: center;
}

.resultHeaderHeight {
	height: 5vw;
}

.resultBodyHeight {
	height: 7vw;
}

.buttonArea {
	width: 70%;
}

.cartArea {
	width: 30%;
}

#calculatorTop {
	height: 80%;
	text-align: center;
}

#calculatorBottom {
	height: 20%;
	text-align: center;
}

.buttonLeft {
	width: 50%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.buttonRight {
	width: 50%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.buttonSingle {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
}

.buttonInvisible {
	width: 0%;
	display: none;
}

#calculatorAmountGiven {
	font-weight: normal;
	font-size: 5vw;
	text-align: center;
	width: 70%;
}

#calculator {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.99);
	z-index: 2;
	cursor: pointer;
}

#keyboard td {
	width: 33%;
}

#keyboard {
	border-left: 1px solid black;
}

.enabled
{
	color: black;
}

.disabled
{
	color: gray;
}
